<!DOCTYPE html>

<html>

<head>
  <title>Priceboard</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <!--[if IE]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
</head>

<body>
	
	<script>
		$(document).ready(function(){

		});
  </script>

<%= yield %>

</body>

</html>
